<div class="container user-card text-center">
  <p class="first-name">
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit account', edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure that you want to delele your account?' }, class: 'btn btn-default btn-red' %>
    <%= link_to 'Show all users', users_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Edit your account', edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Delete your account', @user, method: :delete, data: { confirm: 'Are you sure that you want to delele your account?' }, class: 'btn btn-default btn-red' %>
  <% end %>

</div>
