<div class="product-reviews">
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="col-xs-12">
        <% if comment != @comments.first %>
          <hr>
        <% end %>
        <p>
          <%= comment.user.first_name %> <small class="review-dt-uploaded"><%= "&#8729; #{time_ago_in_words(comment.created_at)} ago".html_safe %></small>
          <% if signed_in? && current_user.admin? %>
            <%= link_to ('<span class="glyphicon glyphicon-remove" style="color:#b20000"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
        <div class="rated" data-score="<%= comment.rating %>"></div>
        <p><%= comment.body %></p>
      </div>
    </div><!-- end row -->
  <% end %>
  <%= will_paginate @comments %>
</div>
