<% if product.name and product.image_url %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= link_to product, :action => 'go' do %>
      <%# logger.debug "Product: #{product.name}"%>
      <div class="product-card">
        <%= image_tag( product.image_url , class: "img-responsive", alt: product.name) %>
        <div class="product-info-index">
          <p><%= product.name %></p>
          <p class="rated average-rating" data-score="<%= product.average_rating %>"></p>
          <% if product.price %>
            <p><strong><%= number_to_currency(product.price/100.to_f) %></strong></p>
          <% end %>
        </div> <!-- end product-info-index -->
        <div class ="product-links-index">
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_product_path(product) %>
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div> <!-- end product-links-index -->
      </div> <!-- end product-card -->
    <% end %>
  </div>
<% end %>
