<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 product">
      <%= image_tag( @product.image_url , class: "img-responsive", alt: @product.name) %>
    </div>

    <div class="col-sm-12 col-md-4">
        <h2><strong><%= @product.name %></strong></h2>
        <p><%= @product.description %></p>
        <p>Color: <%= @product.colour%></p>
        <% if @product.price %>
        <p><strong>Price: &euro;<%='%.2f' % @product.price%></strong></p>
        <% end %>

        <div class="show-products-links">
          <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_product_path(@product), class: 'btn btn-default' %>
          <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to Products'.html_safe, products_path, class: 'btn btn-default' %>
        </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->
