<div class="container">
  <div class="row btns-show">
    <div class="col-xs-2">
      <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to Products'.html_safe, products_path, class: 'btn btn-default' %>
    </div>

    <div class="col-xs-offset-8 col-xs-2">
      <%= link_to '<i class="fa fa-edit"></i> Edit Product'.html_safe, edit_product_path(@product), class: 'btn btn-default pull-right' %>
    </div>
  </div> <!-- end row -->

  <div class="row product-show">
    <div class="col-sm-12 col-md-8">
      <%= image_tag( @product.image_url , class: "img-responsive product-img-index", alt: @product.name) %>
    </div>

    <div class="col-sm-12 col-md-4">
        <h2><strong><%= @product.name %></strong></h2>
        <p class="rated average-rating" data-score="<%= @product.average_rating %>"></p>
        <p><%= @product.description %></p>
        <p>Color: <%= @product.colour%></p>
        <% if @product.price %>
        <p><strong>Price: <%= number_to_currency(@product.price/100.to_f) %></strong></p>
        <% end %>
        <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>

    </div>
  </div> <!-- end row -->

  <div class="row reviews">
    <div class="col-xs-12">
      <h4>Customer Reviews</h4>
      <hr class="border-comments-title">

      <%= render "new_comment" %>
      <%= render "comments" %>
    </div>
  </div> <!-- end row -->

</div> <!-- end container -->
